  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>
<body>
    <h1 class="title">novid news</h1>
    <h2 class="sub-title">the covid-free headline source because we're all sick of it</h2>
    <h2 class="sub-title">for a less depressing experience, the seal of approval has removed covid words</h2>
    <div id="input">
			<input type="text" id="word-input" />
			<input type="submit" id="submit-word" value="remove another word" />	
	</div>
    <div class="news-container">
        {{#each articles}}
            {{#if redacted}}
            <div class="news-item redacted">
                <a href="{{../prefix}} {{url}}">{{../prefix}} {{title}}</a>
                    <p>{{../prefix}} {{description}}</p>
                
                <p class="date">{{../prefix}} {{publishedAt}} </p>
                <div class="img-container">
                    <img src="../seal.png" alt="seal of approval">  
                </div>
                
            </div>
            {{else}}
            <div class="news-item safe">
                <a href="{{../prefix}} {{url}}">{{../prefix}} {{title}}</a>
                    <p>{{../prefix}} {{description}}</p>
                
                <p class="date">{{../prefix}} {{publishedAt}} </p>
            </div>
            {{/if}}
        {{/each}}
    </div>
    <script src="/script.js"></script>
</body>
</html>